.header {
    grid-area: h;
    background-color: mediumspringgreen;
}

.header img {
    width: 7%;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}
